@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../public/fonts/Bungee-Regular.ttf);
}
@font-face {
  font-family: font2;
  src: url(../public/fonts/zi1.ttf);
}
@font-face {
  font-family: font3;
  src: url(../public/fonts/zi2.ttf);
}
@font-face {
  font-family: font4;
  src: url(../public/fonts/BitcountSingleInk-VariableFont_CRSV\ELSH\ELXP\SZP1\SZP2\XPN1\XPN2\YPN1\YPN2\slnt\wght.ttf);
}
@font-face {
  font-family: font5;
  src: url(../public/fonts/Michroma-Regular.ttf);
}
@font-face {
  font-family: font6;
  src: url(../public/fonts/Oswald-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
}

.top-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

.enter-button {
  border: 2px solid white;
  padding: 12px 28px;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
}

.enter-button:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.image-thumb {
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  margin-bottom: 12px;
}

.image-thumb:hover {
  transform: scale(1.03);
}

@keyframes spinInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: spinInfinite 20s linear infinite;
  filter: brightness();
  margin-top: 10px;
}
/* AnimateHome.css */
.animateHome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animateHome .container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.animateHome .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.animateHome .marquee-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.animateHome .marquee-wrapper.t-1 {
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animateHome .classic {
  font: font5;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 900;
  width: 100%;
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(-5%, -50%);
  }
  50.5% {
    transform: translate(-5%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}

.animateHome .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 100vh;
}

.animateHome .modal-images {
  width: 100%;
  height: 100%;
}

.animateHome .role {
  margin: 5px 0;
}

.animateHome .img {
  position: absolute;
  width: 100%;
  height: 600px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.animateHome .img#t-1 {
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animateHome .info {
  margin-top: 24px;
}

.animateHome .t-1 {
  background: #ffffff;
}
.animateHome .t-2 {
  background: #c4bca9;
}
.animateHome .t-3 {
  background: #ffffff;
}
.animateHome .t-4 {
  background: #8e908a;
}
.animateHome .t-5 {
  background: #f1e4d2;
}
.animateHome .t-6 {
  background: #d8cfc4;
}
.animateHome .t-7 {
  background: #b2c2bf;
}
.animateHome .t-8 {
  background: #f2f2f2;
}
.animateHome .t-9 {
  background: #e6d8d4;
}
.animateHome .t-10 {
  background: #d9d9d9;
}

@media (max-width: 900px) {
  .animateHome .modal {
    width: 400px;
    height: 600px;
  }

  .animateHome .modal-images {
    width: 100%;
  }

  .animateHome .img {
    width: 100%;
  }
}
